
.text-center.p-3.mb-2.bg-primary.text-white{

    font-size: 2em;

}

.container.d-flex.align-items-center.flex-column{

    .divider-custom.divider-light{

        .divider-custom-icon{

            scale: 2;

        }

    }

    .container.btn{

        border-radius: 1px;

    }

}
